
@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/CircularStd-Bold.woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Circular";
    src: url("../../assets/fonts/CircularStd-Medium.woff2");
    font-weight: 400;
}
