.hero-fnt{
    text-align: center;
    color: white;
}
.nvbr-mnu{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
.box{
    width: 700px;
    height: 130px;
    background-color: red($color: #ff0000);
}